<% project.forEach((ele)=>{%>
    <h3>
        <!-- add attribute which you want to render -->
        <%=ele.u_name%> , <%=ele.age%> , <%=ele.mobile%>
                    <!-- Tecnically we should call delete method, but here in browser we can request either get or post , so use any one of them -->
                    <!-- But using postman you can ask action delete , but not in browser -->
                    <!-- <form action="delete/<%=ele.u_id%>" method="post">
                        <button type="submit" style="border-radius: 5px;" id="deluser"> Delete </button>
                    </form>
                    
                    <form action="update/<%=ele.u_id%>" method="get">                                    
                        <button type="submit" style="border-radius: 5px;" id="upduser"> Update </button>
                    </form> -->
                    

    </h3>
    <%});%>