<!-- This is applied on which you want to repeatedly apply -->
<!-- <% project.forEach((ele)=>{%>               (#HTML_CODE_HERE)                       <%}); %> -->

<!-- This is for adding the attribute  -->
<!-- <% /*ele.attribute_name_from_table*/ %> -->


<!-- Warning : Cautious on commenting in EJS -->

<p>.........................................................................................................................................</p>
<h1><a href="sign_up/">ADD MORE USERS</a></h1>
<p>........................................................................................................................................</p>
<h1>Search User</h1>
<form action="search" method="post">
    <!-- <input type="text" name="searched"> -->
    <div class="form-floating"
        style="z-index: 2;margin-bottom: 10px;border-bottom-right-radius: 0;border-bottom-left-radius: 0;">
        <label for="search"></label>
        <input type="text" class="form-control" name="search" id="search" placeholder="Search" required>
    </div>
    <button type="submit" style="border-radius: 5px;" id="upduser"> Search </button>
</form>
<p>.........................................................................................................................................</p>


<!-- for each ele in project - do the following -->
<h1>List</h1>
<% project.forEach((ele)=>{%>
    <h3>
        <!-- add attribute which you want to render -->
        <%=ele.u_name%> , <%=ele.age%> , <%=ele.mobile%>
                    <!-- Tecnically we should call delete method, but here in browser we can request either get or post , so use any one of them -->
                    <!-- But using postman you can ask action delete , but not in browser -->
                    <form action="delete/<%=ele.u_id%>" method="post">
                        <button type="submit" style="border-radius: 5px;" id="deluser"> Delete </button>
                    </form>

                    <form action="update/<%=ele.u_id%>" method="get">
                        <button type="submit" style="border-radius: 5px;" id="upduser"> Update </button>
                    </form>


    </h3>
    <%});%>
        <!-- whatever you write in href , should be handled in app.get() route -->
        <!-- href ask server to send sign_up i.e it creates a get request to server -->

        <!-- we are adding slash'/' at end so that it will accept (allow to append) upcoming routes i.e -->
 <p>.........................................................................................................................................</p>       